@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin "daisyui";

@import "highlight.js/styles/github-dark.min.css";

/* ==========================================================================
   CSS Variables
   ========================================================================== */
:root {
    --color-bg: hsl(0,0%,5%);
    --color-primary: #90e0ef;
    --color-secondary: #e8e8e8;
    --color-accent: #2ddbae;
    --color-highlight: #e6a218;}


html {
    font-family: 'Outfit', sans-serif;
}